*{
  color: rgb(196, 212, 226);
  background-color: rgb(34, 39, 100);
  font-family: 'Rammetto One', cursive;
}

h1{
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h2{
  text-align: center;
}